<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KAT</title>

  <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript">
    window.onload = function () {
      var len1=0;
      var len2=0;
      var len3=0;
      var obj = {
        "id1": "True", "id2": "False", "id3": "False", "id4": "Not conf"
      };
      var keys = Object.keys(obj);
      console.log(keys[0]);
      var lent = keys.length;
      console.log(lent);
      for (var i = 0; i < lent; i++) {
        console.log(obj[keys[i]]); 
        if(obj[keys[i]]== "True"){
          len1=len1+1;		
        }
        else if(obj[keys[i]]== "False"){
          len2=len2+1;		
        }
        else {
          len3=len3+1;		
        }

      }

      CanvasJS.addColorSet("greenShades",
                [//colorSet Array

                "#ff0000",
                "#00ff00",
                "#ffff00",
                "#3CB371",
                ]);"#90EE90" 
      var chart = new CanvasJS.Chart("chartContainer",
      {
        colorSet: "greenShades",


        legend:{
          verticalAlign: "bottom",
          horizontalAlign: "center"
        },
        data: [
        {

         type: "doughnut",
         showInLegend: true,
         dataPoints: [
         {  y: len1, legendText:"Scored :"+len1.toString() },
         {  y: len2, legendText:"Unscored :"+len2.toString()},
         {  y: len3, legendText:"Not Configured :"+len3.toString()},

         ]
       }
       ]
     });

      chart.render();
    }
  </script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>
<body>
  <style>
    .txt {
      text-align: justify;
      -moz-text-align-last: left;
      text-align-last: left;
    }
    .btn {
      border: none;
      color: white;
      font-size: 16px;
      cursor: pointer;
      width:80%;
    }
    .btn2 {
      border: none;
      color: black;
      font-size: 16px;
      cursor: pointer;
      padding-top:1.5%;
      padding-bottom:2.5%;

    }
    .btn3 {
      border: none;
      color: black;
      font-size: 20px;
      cursor: pointer;
      padding-top:2%;
      padding-bottom:3%;

    }

    .success {background-color: #4CAF50;} /* Green */
    .success:hover {background-color: #46a049;}

    .info {background-color: #2196F3;} /* Blue */
    .info:hover {background: #0b7dda;}

    .warning {background-color: #ff9800;} /* Orange */
    .warning:hover {background: #e68a00;}

    .danger {background-color: #f44336;} /* Red */ 
    .danger:hover {background: #da190b;}

    .default {background-color: #e7e7e7; color: black;} /* Gray */ 
    .default:hover {background: #ddd;}
  </style>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">KPMG Audit-Tool</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav navbar-left">
          <li class="active">
            <li><a href="#">Scans</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-left">
            <li class="active">
              <li><a href="#">Policies</a></li>
            </ul>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn2 btn-default">Search</button>
            </form>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container col-lg-12" id="Switchid">
      <h2>Audit Assesment</h2>
      {% for x in testType %}
      <div class="col-lg-4">
        <h2>Details:</h2>
        <hr>
        <div class="panel panel-primary">
          <div class="panel-heading">Audit Status:</div>
          <div class="panel-body">
            <dl class="dl-horizontal txt">
            {% set count = loop.index0 %}
              <dt>Client:</dt>
              <dd>{{ testName }}</dd>
              <dt>Status:</dt>
              <dd>Completed</dd>
              <dt>Type:</dt>
              <dd>{{ x }}</dd>
              <dt>Start time:</dt>
              <dd>{{ dateStart[count] }}</dd>
              <dt>End time:</dt>
              <dd>{{ dateEnd[count] }}</dd>
              <dt>Elapsed Time:</dt>
              <dd>{{ elapse[count] }}</dd>
            </dl>
            
          </div>
        </div>
        <h2>Score Chart:</h2>
        <hr>
        <div id="chartContainer" style="height: 300px; width: 100%;">
        </div>
      </div>

      <div class="col-lg-8" >
        <table class="table">
          <thead>
            <tr>
            </ul>
            <br>
            <th>Configuration</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>    
         
         {% for i in testCase[count] %}
         {% if testCase[count][i] == 'True' %}
         <tr class="active">
          <td><button type = "button" class = "btn success ">Enabled</button></td>
          <td>{{ i }}</td>      
        </tr>
        {% elif testCase[count][i] == 'False' %}
        <tr class="active">
          <td><button type = "button" class = "btn danger ">Disabled</button></td>
          <td>{{ i }}</td>      
        </tr>
        {% else %}
        <tr class="active">
          <td><button type = "button" class = "btn warning ">Not Applicable</button></td>
          <td>{{ i }}</td>      
        </tr>
        {% endif %}
        {% endfor %}

      </tbody>
    </table>

  </div>
  {% endfor %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>
