<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>NetConf Tool</title>
    {% endif %}
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  {% block content %}{% endblock %}
</html>

