{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="../static/js/canvasjs.min.js"></script>
</head>
<style>
  .txt {
    text-align: justify;
    -moz-text-align-last: left;
    text-align-last: left;
  }
  .btn {
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width:80%;
  }
  .btn2 {
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding-top:1.5%;
    padding-bottom:2.5%;

  }
  .success {background-color: #4CAF50;} /* Green */
  .success:hover {background-color: #46a049;}

  .info {background-color: #2196F3;} /* Blue */
  .info:hover {background: #0b7dda;}

  .warning {background-color: #ff9800;} /* Orange */
  .warning:hover {background: #e68a00;}

  .danger {background-color: #f44336;} /* Red */ 
  .danger:hover {background: #da190b;}

  .default {background-color: #e7e7e7; color: black;} /* Gray */ 
  .default:hover {background: #ddd;}
</style>
<script type="text/javascript">
  var len1=new Array(0,0,0);
  var len2=new Array(0,0,0);
  var len3=new Array(0,0,0);
  var value = {{ testCase | safe }}

  for (var j = 0; j < value.length; j++) 
  { 
    var obj = value[j]
    var keys = Object.keys(obj);
    var lent = keys.length;

    for (var i = 0; i < lent; i++) 
    { 
     if(obj[keys[i]]== "True"){
      len1[j]=len1[j]+1;    
    }
    else if(obj[keys[i]]== "False"){
      len2[j]=len2[j]+1;    
    }
    else {
      len3[j]=len3[j]+1;    
    }

  }
}
function chartLoad(num) {
 CanvasJS.addColorSet("greenShades",
                [//colorSet Array

                "#00ff00",
                "#ff0000",                
                "#ffff00",
                "#3CB371",
                ]);"#90EE90" 
 var chart = new CanvasJS.Chart('chartContainer' + num,
 {
  colorSet: "greenShades",


  legend:{
    verticalAlign: "bottom",
    horizontalAlign: "center"
  },

  data: [
  {

   type: "doughnut",
   showInLegend: true,
   dataPoints: [
   {y: len1[num], legendText:"Scored :"+ len1[num]},
   {y: len2[num], legendText:"Unscored :"+ len2[num]},
   {y: len3[num], legendText:"Not Applicable :"+ len3[num]}]  
 }]
});
 chart.render();
}
window.onload=function chartRend(){
  for (var i = 0; i < {{ noOfFiles }}; i++) {
    chartLoad(i);
  }
}
</script>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index">KPMG Audit-Tool</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav navbar-left">
          <li class="active">
            <li><a href="/scans">Scans</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-left">
            <li class="active">
              <li><a href="/policies">Policies</a></li>
            </ul>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn2 btn-default">Search</button>
            </form>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container col-lg-12" id="Homeid">
      <h2>Audit Assesment</h2>

      <ul class="nav nav-tabs">
        {% for y in testType %}
        <li {% if loop.index0 == 0 %} class="active" {% endif %}>
          <a data-toggle="tab" href="#{{ y }}{{ loop.index }}">{{ filenames[loop.index0] }}</a></li>
          {% endfor %}
        </ul>
        <br>

        <div class="tab-content">
          {% for x in testType %}
          <div id="{{ x }}{{ loop.index }}" class="tab-pane fade {% if loop.index0 == 0 %}in active {% endif %}">
           <div class="col-lg-8">
             <table class="table">
              <thead>
                <tr>
                  <th>State</th>
                  <th>Configuration</th>
                </tr>
              </thead>
              <tbody>
                {% set count = loop.index0 %}
                {% for i in testCase[count] %}
                {% if testCase[count][i] == 'True' %}
                <tr class="active">
                  <td><button type = "button" class = "btn success ">Enabled</button></td>
                  <td>{{ i }}</td>      
                </tr>
                {% elif testCase[count][i] == 'False' %}
                <tr class="active">
                  <td><button type = "button" class = "btn danger ">Disabled</button></td>
                  <td>{{ i }}</td>      
                </tr>
                {% else %}
                <tr class="active">
                  <td><button type = "button" class = "btn warning ">Not Applicable</button></td>
                  <td>{{ i }}</td>      
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-lg-4">
            <h2>Details:</h2>
            <hr>
            <div class="panel panel-primary">
              <div class="panel-heading">Audit Status:</div>
              <div class="panel-body">
                <dl class="dl-horizontal txt">
                  <dt>Client:</dt>
                  <dd>{{ testName }}</dd>
                  <dt>Status:</dt>
                  <dd>Completed</dd>
                  <dt>Type:</dt>
                  <dd>{{ x }}</dd>
                  <dt>Start time:</dt>
                  <dd>{{ dateStart[count] }}</dd>
                  <dt>End time:</dt>
                  <dd>{{ dateEnd[count] }}</dd>
                  <dt>Elapsed Time:</dt>
                  <dd>{{ elapse[count] }}</dd><br>
                  <button><a href="/download" target="_blank">Download</a></button>
                </div>
              </div>
            </dl>
            <h2>Score Chart:</h2>
            <hr>
            <div id="chartContainer{{ count }}" style="height: 300px; width: 100%;">              
            </div>            
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>

  {% endblock %}
