{% extends "base.html" %}
{% block content %}
<body><br>
	<div><img src="../static/images/error.png" height="80" width="80">
	<h1>Error: There's been an error. {{ message }}.</h1><br>
	</div>
	<h2>Are you lost?! Buy us a drink, We'll help you :P</h2>

	<h3><a href="/index">Click to return </a></h3>
</body>

{% endblock %}