{% extends "base.html" %}
{% block content %}
<style>
	.txt {
		text-align: justify;
		-moz-text-align-last: left; 
		text-align-last: left;
	}
	.upload-drop-zone {
		height: 200px;
		border-width: 2px;
		margin-bottom: 20px;
	}

	.upload-drop-zone {
		color: #ccc;
		border-style: dashed;
		border-color: #ccc;
		line-height: 200px;
		text-align: center
	}
	.upload-drop-zone.drop {
		color: #222;
		border-color: #222;
	}
	#myProgress {
		width: 100%;
		background-color: #ddd;
	}

	#myBar {
		width: 1%;
		height: 30px;
		background-color: #4CAF50;
	}
</style>
<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/index">KPMG Audit-Tool</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right">
				<ul class="nav navbar-nav navbar-left">
					<li class="active">
						<li><a href="/scans">Scans</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-left">
						<li class="active">
							<li><a href="/policies">Policies</a></li>
						</ul>
						<form class="navbar-form navbar-left">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default">Search</button>
						</form>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Edit Profile</a></li>
								<li><a href="#">Settings</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="panel panel-default">
				<div class="container">
					<h2>Configuration Test:</h2>
					<form action="/dashboard" method="post" enctype="multipart/form-data" id="js-upload-form">
						<div class="form-group">
							<label for="name">Client Name:</label>
							<input type="test-name" class="form-control" id="test-name" placeholder="Enter client name" name="test-name" pattern="^[a-zA-Z0-9_.+-\s]+$" required>
						</div>
						<div class="form-group">

						</div>
					</div>

					<div class="panel-heading"><strong>Upload Files</strong> <small>Select Configuration File (Max: 3 Files)</small></div>
					<div class="panel-body">
						<h4>Select files from your computer</h4>

						<div class="form-inline">
							<div class="form-group">
								<input type="file" name="config-file[]" id="js-upload-files" multiple="">
							</div>
							<!--<button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button> -->
							
						</div>

						<h4>Or drag and drop files below</h4>
						<div class="upload-drop-zone" id="drop-zone">
							Just drag and drop files here
						</div>						
						<div id="myProgress"  class="progress">
							<div id="myBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" ></div>
						</div>
						<div class="js-upload-finished">
							<h3>Uploaded Files</h3>
							<div class="list-group" id="upld_files" style="display:none;">
								<a href="#" id="processed-files" class="list-group-item list-group-item-success"></a>
							</div>
							<p align="right"><button type="submit" class="btn-group-lg">Continue</button></p>
						</form>
						<button onclick="setTimeout(move, 1500);setTimeout(disp_file, 5000);">Upload files</button>
						
					</div>
				</div>
			</div>
		</div> <!-- /container -->           
		<script>
			function move() {
				var elem = document.getElementById("myBar");   
				var width = 1;
				var id = setInterval(frame, 10);
				function frame() {
					if (width >= 100) {
						clearInterval(id);
					} else {
						width++; 
						elem.style.width = width + '%'; 
					}
				}
			}
			function disp_file()
			{
				var str = '';
				var inp = document.getElementById('js-upload-files');
				for (var i = 0; i < inp.files.length; ++i) {
					var name = inp.files.item(i).name;
					str += '<span class="badge alert-success pull-right">Success</span>' + name + '<br>';
				}
				document.getElementById('processed-files').innerHTML = str;	
				document.getElementById('upld_files').style.display = "block";
			}
		</script>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../static/js/bootstrap.min.js"></script>
	</body>
	

	
	{% endblock %}
