<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome | NetConf</title>
  <link rel="stylesheet" type="text/css" href="../static/css/log.css">
  </head>
<body>
  <div class="container">
    <div class="login">
      <div class="container-fluid">
        <img class="logo" src="../static/images/kpmglogo.png">
      </div>
      <center><div style="color: red" id="message"></div></center><br>
      <form method="post" action="/login">
        <input id="login-username" type="email" class="input-txt" name="username" value="" placeholder="Email Address"  pattern="^[a-zA-Z0-9_.+-]+@+[Kk]+pmg.com$" required> 
        <input id="login-password" type="password" class="input-txt" name="password" placeholder="Password">
        <div class="login-footer">
          <a href="#" class="lnk"><span class="icon icon--min"></span>I've forgotten something </a>
          <button type="submit" class="btn btn--right">Sign in </button>
          <a href="#" class="lnk" ><span class="icon icon--min"></span></br>Signup</a>
        </div>
      </form>
    </div>
  </div>
</body>
<script type="text/javascript">
  messageStatus = {{message}}
  if (messageStatus ==1)
    document.getElementById('message').innerHTML="Wrong username or password"
</script>
</html>
