{% extends "base.html" %}
{% block content %}
<body>
  <style>
    .txt {
      text-align: justify;
      -moz-text-align-last: left;
      text-align-last: left;
    }
    .btn {
      border: none;
      color: white;
      font-size: 16px;
      cursor: pointer;
      width:80%;
    }
    .btn2 {
      border: none;
      color: black;
      font-size: 16px;
      cursor: pointer;
      padding-top:1.5%;
      padding-bottom:2.5%;

    }
    .success {background-color: #4CAF50;} /* Green */
    .success:hover {background-color: #46a049;}

    .info {background-color: #2196F3;} /* Blue */
    .info:hover {background: #0b7dda;}

    .warning {background-color: #ff9800;} /* Orange */
    .warning:hover {background: #e68a00;}

    .danger {background-color: #f44336;} /* Red */ 
    .danger:hover {background: #da190b;}

    .default {background-color: #e7e7e7; color: black;} /* Gray */ 
    .default:hover {background: #ddd;}
    .ng-button { background:#0b7dda; color: white; text-decoration:none; padding:6px;
     transition:1s; height: 25px; border: 1px solid white;
     border-radius: 20px;
     align:
   }
   .ng-button:hover { background:#2199FF; color:white; text-decoration:none; border:1px solid;
     border-radius: 0px;
   }
 </style>
 <nav class="navbar navbar-default">
  <div class="container-fluid">

   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index">KPMG Audit-Tool</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav navbar-right">
      <ul class="nav navbar-nav navbar-left">
        <li class="active">
          <li><a href="/scans">Scans</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li class="active">
            <li><a href="/policies">Policies</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn2 btn-default">Search</button>
          </form>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Edit Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h2>Policies:	</h2>	
    <div class="container-fluid">
      <hr>
      <h2>Cisco Devices:</h2>
      <hr>
      <div class="row">
        <div class="col-sm-4" >
          <div class="panel panel-primary"  align="center">
            <div class="panel-heading">CISCO Router:</div>
            <div class="panel-body"><img src="../static/images/CIS.jpg" height="50%" width="80%" style="padding:10%;
              padding-left:5%"> 
              <p><a href='https://downloads.cisecurity.org/download-issues/benchmarks' target='_blank' class='ng-button'>DOWNLOAD</a></p></center></div>
            </div>
          </div>
          <div class="col-sm-4" >
            <div class="panel panel-primary"  align="center">
              <div class="panel-heading">CISCO Switch:</div>
              <div class="panel-body"><img src="../static/images/CIS.jpg"  height="50%" width="80%" style="padding:10%;padding-left:5%"> 
                <a href='https://downloads.cisecurity.org/download-issues/benchmarks' target='_blank' class='ng-button'>DOWNLOAD</a></center></div>
              </div>

            </div>
            <div class="col-sm-4">
              <div class="panel panel-primary"  align="center">
                <div class="panel-heading">CISCO Firewall:</div>
                <div class="panel-body"> <img src="../static/images/CIS.jpg"  height="50%" width="80%" style="padding:10%;padding-left:5%">
                 <a href='https://downloads.cisecurity.org/download-issues/benchmarks' target='_blank' class='ng-button'>DOWNLOAD</a></center></div>
               </div>

             </div>
             <hr>
           </div>
           <div  align="center">
            <hr>
            <h2>Other Devices:</h2>
            <hr>
            <h4>Currenty there is no support for other devices</h4>
          </div>

        </body>

        {% endblock %}